

<div id="PoitykaCookiesInfo" style="position: fixed; bottom: 0; width: 100%; height: 100px; background-color: rgba(247, 173, 39, 0.70); z-index: 100">
    <div>
        <p class="text-right">
            <a id="ZamkniecieCookies">
                <span class="glyphicon glyphicon-remove" style="font-size: 2em;cursor:pointer">

                </span>
            </a>
        </p>
    </div>
    <div>
        <h2>@Resource.CoockiesInfo</h2>
    </div>
</div>




